*{
	margin:0;
	padding:0;
}
body{
	position: relative;
}

button{
	width: 60px;
	height: 30px;
	
}
.contain > div{
	margin-left: 10px;
}

/*主容器*/
.contain{
	position: relative;
	margin: 10px auto;
	height: 215px;
	width: 350px;
	background: yellowgreen;
	border-radius: 10px;

}


/*输入框*/
#text1{
	text-align: right;
	margin:5px 10px;
	height: 40px;
	width: 326px;
}

